<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{% block title%}{% endblock %}-问答平台</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script>https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap-grid.min.css</script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/base.css')}}">
	{%block head%}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('index')}}">
	  <img  class="logo" style="margin-top:-5px;" src="{{	url_for('static',filename='images/1.png')	}}" alt="Brand">
	  </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a  href="{{url_for('index')}}">首页</a></li>
        <li><a href="#">发现</a></li>
		<li><a href="#">话题</a></li>
		  </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" method="get" action="{{url_for('search')}}">
        <div class="form-group">
          <input name="q" type="text" class="form-control" placeholder="搜索你感兴趣的内容...">
        </div>
        <button  type="submit" class="btn btn-default btn-primary">提问</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
          {%if user%}
         <li><a href="{{url_for('persional_inform')}}">{{user.username}}</a></li>
          <li><a href="{{url_for('logout')}}">注销</a></li>
          {%else%}
        <li><a href="{{url_for('login')}}">登录</a></li>
        <li><a href="{{url_for('regist')}}">注册</a></li>
          {%endif%}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="app">
{%block head_block%}
{%endblock%}

{%block main%}
{%endblock%}
</div>



</body>
</html>